*{
  box-sizing: border-box;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
  }
  
  th {
    background: #28527a;
    color: #f4d160;
  }

 body {
    width: 960px;
    margin: auto;
    background-color: beige ;

}

head title {
  text-align: center;
}

header h2 {

  text-align: center;
}




